# Ignore logs
logs/
# Ignore runtime files
run/
# Ignore decrypted config
config/enc.conf

# Ignore local VS Code config
.vscode/
# Ignore temp files
*.tmp
*.swp

# Ignore macOS system files
.DS_Store

STALE.md
tmp/

*.zcompdump*
# Ignore backup files
*.bak
*.bak-*

# Ignore new temporary files
*.new

# Ignore shell history
.zsh_history
.bash_history

# Ignore old files
*.old

# Ignore zim modules
etc/.config/zsh/.zim/modules/

.zhistory
packages/clash-for-linux-install/resources/config.yaml
etc/.config/zsh/.zim/init.zsh
